h1 {
    font-size: 60px;
    font-weight: 600;
    color: black;
}

h2 {
    font-size: 30px;
}

.hero-body {
    background: url(./Images/coronadatehero.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

#searchArea {
    margin-top: 10em;
}

#description {
    color: #555555;
}
