h1 {
    font-size: 60px;
    font-weight: 600;
    color: black;
}

h2 {
    font-size: 30px;
}

#hero {
    background: url(./Images/coronadatehero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
}

#searchArea {
    margin-top: 10em;
}

#description {
    color: #555555;
}

.title {
    font-size: 30px;
}

#results {
    text-align: center;
}
